.btn {
    display: flex;
    color: white;
    background-color: purple;
    height: 3.2rem;
    width: 6.5rem;
    border-radius: 6px;
    padding: 0.2rem;
    margin-left: 0.2rem
}
.btn:hover {
    background-color: rgb(162, 101, 162);
}