.label {
    display: flex;
    flex-direction: row;
    padding-top: 0.2rem;
   
}
.select {
    display: flex;
    height: 2rem;
    width: 6rem;
    margin: 0.4rem;
    margin-left: 1.2rem;
    margin-bottom: 2rem;
    border: 2px solid grey;
    border-radius: 6px;
}