.section {
    color: white;
    margin-left: 4rem;
    margin-right: 4rem;
}

.subPara {
    margin-left: 2rem;
    margin-right: 2rem;
}

.subAnchor {
    color:rgb(222, 169, 222)
}
.btnsection {
    margin-left: 20%;
    margin-right: 20%;
}