.container {

    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
   
}


.section {
    color: white;
}
.heading {
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
}
.content {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 95%;
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;

}


.subAnchor {
    color:rgb(222, 169, 222)
}
.btnsection {
    margin-left: 1rem;
    margin-right: 1rem;
    align-self: center;
    align-items: center;
}
.sectionImages {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 95%;
    height: auto;
    align-items: center;
}
.images {
    display: flex;
    height: 8rem;
    width: 8rem;
    border-radius: 5px;
    border: 2px solid white;
    margin: 0.5rem;

}