.section {
    color: white;
    margin-left: 4rem;
    margin-right: 4rem;
}

.subPara {
    margin-left: 2rem;
    margin-right: 2rem;
}

.subAnchor {
    color:rgb(222, 169, 222)
}
.btnsection {
    margin-left: 20%;
    margin-right: 20%;
}
.sectionImages {
    display: flex;
    flex-direction: row;
    margin-left: 6rem;
    margin-right: 6rem;
    width: 90%;
    height: auto;
}
.images {
    display: flex;
    height: 10rem;
    width: 10rem;
    border-radius: 5px;
    border: 2px solid white;
    margin: 0.5rem;

}