.container {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 100%;
    margin-bottom: 40%;
    margin-left: 10%;
    
}
.heading {
    color: white;
    margin-left: 3rem;
}
.sectionPara {
    display: flex;
    color: white;
    width: 70%;
   
    
}