.container {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 70%;
}

.heading {
    color: white;
    text-align: center;
}
.para {
    color: white;
}
.error {
    color: white;
}
.subAnchor {
    color:rgb(222, 169, 222)
}
.subPara {
    color: white;
}